body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.first-section a{
text-decoration: none;
background-color: orange;
border: 1px solid orange;
border-radius: 5px;
padding: 7px 15px;
}